@font-face {
    font-family: 'MADE Okine Sans PERSONAL USE Light' ;
    src: url('../assets/made-okine-sans-personal-use/MADEOkineSansPERSONALUSE-Light.otf');
}
body {
    display: flex;
    width: 100%;
    font-family: 'MADE Okine Sans PERSONAL USE Light' !important;
    font-size: 14px !important;
    overflow-x: hidden;
}
ul {    
    margin: 0 !important;
    padding: 0 !important; 
    list-style-type: none;
}
/* .left {
    
} */
nav {
    display: flex;
    justify-content: space-between;
    background-color: #f7f5f6;
    padding: 24px 40px;
    font-size: 16px !important;
}
.list-icon {
    display: flex;
    justify-content: space-between;
    width: 251px;
}
.list-icon > li {
    padding: 18px 0;
    color: #766E66;
    cursor: pointer;
}
.list-icon > li > span, .line-list-icon, .close-list-icon {display: none;}
.toggle-icon {
    display: none;
    transition: all 0.5s ease;
    cursor: pointer;
}
.toggle-icon:hover {transform: rotate(180deg);}
.icon{transition: all 0.4s ease;} 
.active {
    text-align: center;
    width: 59px;
    height: 60px;
    color: #fff !important;
    background-color: #191715;
    border-radius: 8px;
    border: 1px solid #191715;
}
.active:hover {
    color: #191715 !important;
    background-color: #f7f5f6;
    border: 1px solid #f7f5f6;
}
.dashboard:hover {transform: rotate(180deg); color: #191715;}
.notification:hover, .heart-half:hover {transform: scale(1.2); color: #191715;}
@keyframes animaton-shopping {
    0% {transform: translateX(2px);}
    20% {transform: translateX(0px);}
    40% {transform: translateX(2px);}
    60% {transform: translateX(0px);}
    70% {transform: translateX(2px);}
    80% {transform: translateX(0px);}
    90% {transform: translateX(2px);}
    100% {transform: translateX(0px);}
}
.active:hover .bag-shopping {
    animation-name: animaton-shopping;
    animation-duration: 0.6s;
}
.img-nav {
    background: url('../assets/img/joshua-rawson-harris-dN67hPE5KWY-unsplash.jpg'), #191715;
    backdrop-filter: blur(2px);
    background-size: cover;
    width: 60px;
    height: 60px;
    border-radius: 8px;
    transition: all 0.4s ease;
}
.img-nav:hover {transform: translateX(2px);}

.left-content {
    background: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 33.44%, #F7F5F6 54.38%, #FFFFFF 69.89%, #F7F5F6 82.55%, #FFFFFF 100%);
    padding: 28px 25px;
    z-index: -333;
}
.book_buy {display: flex;}
.book_buy > div {
    margin-right: 24px;
    cursor: pointer;
}
.book {font-weight: bold;}
.buy {color: #A0A0A0;}
.line-small {
    position: relative;
    left: 37%;
    display: block;
    width: 20%;
    height: 2px;
    background-color: #F49338;
    transition: all 0.5s ease;
}
.buy > .line-small {width: 0;}
.book_buy > div:hover .line-small {width: 100%; left: 0;}

.title {
    position: relative;
    display: flex;
    align-items: baseline;
    margin-top: 20px;
    height: 56px;
    overflow: hidden;
}
.search-title {
    padding-left: 1px;
    width: 24px;
    height: 24px;
    cursor: pointer;    
    transition: all 0.5s ease;
    z-index: 3;
}
.search-title:hover {transform: scale(1.2);}
.title > span {
    font-weight: 400;
    font-size: 40px;
    line-height: 56px;
    color: #292726;
    margin-left: 25px;
    transform: translateY(0);
    transition: all 0.3s ease;
}
.ellipse {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #9F9B98;
    border: 1px solid #9F9B98;
    border-radius: 8px;
    transition: all 0.5s ease;
}
.title > .ellipse {
    right: 0;
    top: 13px;
}
.ellipse.medium {
    width: 26px;
    height: 26px;
}
.ellipse:hover {background-color: #fff;}
.round-center {
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #fff;
}
.ellipse:hover .round-center {background-color: #9F9B98;}
.title-input {
    position: absolute;
    border-radius: 8px;
    border: 1px solid #f7f5f6;
    width: 95%;
    height: 40px;
    top: 8px;
    left: -100%;
    padding-left: 45px;
    transition: all 0.3s ease;
    background-color: #F7F5F6;
    z-index: 1;
}
.title-input:focus-visible {outline: none;}

.navigation {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 28px;
}
.nav-list {
    display: flex;
    justify-content: space-between;
    width: 83%;
}
.nav-list > li {
    width: 23%;
    position: relative;
    padding: 21px;
    background-color: #292726;
    color: #fff;
    padding: 14px 6px;
    border-radius: 8px;
    cursor: pointer;
}
.nav-list > li:hover {
    background-color: #484848;
}
.vector {
    position: absolute;
    color: #fff;
    left: 7px;
    top: 18px;
    height: 13px;
    width: 13px;
}
.vector.rot_left {left: 12px;}
.rot_left {transform: rotate(180deg);}
.g {
    display: flex;
    color: #777574;
}
.nav-list > li > .ellipse {
    top: 14px; 
    border-radius: 4px;
    background-color: #777574;
    border: 1px solid #777574;
}
.nav-list > li > .ellipse.l {right: 29px;}
.nav-list > li > .ellipse.r {right: 6px;}
.ellipse.small {
    width: 20px;
    height: 20px;
    transition: all 0.3s ease;
}
.nav-list > li:hover > .ellipse.l {top: 16px;}
.nav-list > li:hover > .ellipse.r {top: 12px;}
.nav-list > li > .ellipse.l:hover {top: 16px;}
.nav-list > li > .ellipse.r:hover {top: 16px;}
.arrow-down {
    background-color: #777574;
    position: absolute;
    top: 17px;
    right: 6px;
    border-radius: 4px;
    transition: all 0.3s ease;
}
.nav-list > li:hover > .arrow-down {top: 19px;}
.guests, .rooms {
    position: relative;
    color: #777574;
}
.guests {top: 2px;}
.rooms {top: -3px;}

.small-square {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 49px;
    padding: 0;
    border-radius: 8px;
    cursor: pointer;
}
.adjust-container {
    background-color: #292726;
    padding: 10px 15px;
}
.adjust-container:hover {background-color: #4c4c4c;}
.adjust-container > .line {
    position: relative;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #fff;
}
.line.t {top: 10px;}
.line.b {top: 10px;}
.circle {
    position: relative;
    display: block;
    width: 5px;
    height: 5px;
    background-color: #fff;
    border-radius: 50%;
    transition: all 0.3s ease;
}
.circle.t {top: -9px; left: 3px;}
.circle.b {top: -1px; left: 5px;}
.adjust-container:hover .circle.t {left: 11px;}
.adjust-container:hover .circle.b {left: -3px;}
.nav-search {
    justify-content: center;
    align-items: center;
    background-color: #F49338;
}
.nav-search > svg {transition: all 0.3s ease;}
.nav-search:hover > svg {transform: scale(1.2);}
.nav-search > svg > path {fill: #fff;}

.content {
    margin-top: 46px;
}
.result_moab {
    font-size: 24px; color: #292726;
    margin-bottom: 28px;
}
.moab {font-weight: bolder;}
.result_moab > .number {
    position: relative;
    top: -6px;
    left: 16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 25px;
    background: #EFEFEF;
    backdrop-filter: blur(2px);
    border-radius: 4px;
    font-size: 12px;
}

.hotel-recommended {
    position: absolute;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 36px;
    padding: 0 5px;
    overflow: hidden;
} 
.area-container {
    position: absolute;
    display: flex;
    min-width: 100%;
    /* justify-content: space-between; */
    overflow: hidden;
}
.area {
    position: relative;
    left: 0;
    display: inline-flex;
    flex-wrap: wrap;
    width: 32%;
    height: 180px;
    color: #fff;
    padding-top: 75px;
    padding-left: 15px;
    cursor: zoom-in;
    transition: all 0.6s ease; 
}
/* .area4 {
    position: absolute;
    left: 68%;
} */
.area > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    -webkit-filter: brightness(100%);
    filter: brightness(80%) ;
    z-index: 1;
}
.price-container {width: 100%; z-index: 5;}
.price {font-size: 24px; font-weight: bold;}
.per_night {font-size: 12px;}
.caption-area {
    width: 100%;
    font-size :18px;
    z-index: 3;
}
.footer-area {margin-bottom: 14px;z-index: 5;}
.star-area {
    transition: all 0.3s ease; 
    cursor: pointer;
}
.star-area:hover path {fill: #d0a416;}
.rate, .location {
    font-size: 12px;
    position: relative;
    top: 2px;
}
.icon-location {
    margin-left: 15px; 
    transition: all 0.3s ease; 
    cursor: pointer;
}
.icon-location:hover {transform: scale(1.2);}
.zoom-in {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    transition: all 1s ease;
    z-index: 99999;
    transform: scale(0);
}
.zoom-in > img {
    width: 80%;
    height: 500px;
}
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}
.close:hover {
    color: #F49338;
    transform: rotate(180deg);
}

.slide-image-area {margin-top: 30px;}
.arrow, .line-slide {cursor: pointer; transition: all 0.3s ease;}
.to-left {margin-right: 5px;}
.to-left:hover {transform: translateX(-2px);}
.to-left > path {fill: #C9C5C2;}
.to-left:hover > path {fill: #000;}
.to-right {
    margin-left: 5px;
    transform: rotate(180deg);
}
.to-right:hover {transform: translateX(2px) rotate(180deg);}
.available > path {fill: #000;}
.line-slide > path {stroke: #C9C5C2;}
.line-slide:hover > path {stroke: #000;}
.active-image  > path {stroke: #000;}

.list-hotel-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 290px;
}
.caption-list {
    display: flex;
    justify-content: space-between;
    color:  #292726;
}
.caption-right {padding-top: 3px;}
@keyframes animate-arr-d {
    0% {transform: translateY(2px);}
    100% {transform: translateY(0);}
}
.arr-d {
    background-color: #EFEFEF;
    transition: all 0.5s ease;
    animation-duration: 0.3s;
    animation-iteration-count: 2;
    cursor: pointer;
}
.arr-d:hover {animation-name: animate-arr-d;background-color: #c6c6c6; }  
.arr-d > path {fill: #292726;}

.list-hotel {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px!important;
}
.list-hotel > li {
    position: relative;
    display: flex;
    width: 48%;
    padding: 5px;
    padding-bottom: 0;
    background-color: #fff;
}
.image-hotel {
    display: flex;
    width: 27%;
    height: 100%;
    border-radius: 8px;
    transition: all 0.3s ease;
    cursor: zoom-in;
}
.hot1, .hot2 {margin-bottom: 25px;}
.hotel1 {background: url('../assets/img/ralph-ravi-kayden-mR1CIDduGLc-unsplashm.jpg'); background-size: cover, contain;}
.hotel2 {background: url('../assets/img/brian-babb-XbwHrt87mQ0-unsplashm.jpg'); background-size: cover, contain;}
.hotel3 {background: url('../assets/img/aubrey-odom-mabey-ITzfgP77DTg-unsplashm.jpg'); background-size: cover, contain;}
.hotel4 {background: url('../assets/img/naomi-ellsworth-EMPLSuvDuhQ-unsplashm.jpg'); background-size: cover, contain;}
.image-hotel:hover {transform: scale(1.01);}
/* .image-hotel > img {width: 100%; border-radius: 8px;} */
.description {margin-left: 10px;}
.description > .footer-area {margin-bottom: 0!important;}
.description > .caption-area {font-size: 16px;}
.description > .price-container > .price {font-size: 20px;}
.to-hotel {
    position: absolute;
    top: 25px;
    right: 5px;
    transition: all 0.3s ease;
    cursor: pointer;
}
.to-hotel:hover {transform: translateX(2px);}
.to-hotel > rect:hover {fill: #906844;}


.right {
    display: flex;
    background-image: url('../assets/img/christian-bartolone-TaS_pGbMgRs-unsplash.jpg');
    background-size: cover;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
}
.place-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.place-container:hover > .place > g > circle {fill: #F49338;}
.hotel_proposed {
    position: absolute;
    padding: 5px;
    /* left: 10%;
    top: 35%; */
    left: -178%;
    top: -192%;
    background-color: #fff;
    border-radius: 8px;
    transform: scale(0);
    transition: all 0.3s ease;
}
.place-container:hover > .hotel_proposed {transform: scale(1);}
.img-hotel {
    background-image: url('../assets/img/johnson-johnson-U6Q6zVDgmSs-unsplashm.jpg');
    background-size: cover;
    width: 180px;
    height: 100px;
    border-radius: 4px;
    margin-bottom: 7px;
    cursor: zoom-in;
}
.name {font-size: 18px;}
.longeur {font-size: 12px; margin-left: 8px; margin-top: 2px;}
.longeur::before {
    content: "";
    display: inline-block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #000;
    margin-right: 5px;
}
.btn-details {
    position: relative;
    margin-top: 8px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 45px;
    background-color: #191715;
    color: #fff;
    border-radius: 4px;
    transition: all .5s ease;
    cursor: pointer;
}
.arrow-right {
    transform: rotate(180deg);
    transition: all .5s ease;
}
.btn-details:hover > .arrow-right {transform: translateX(10px)  rotate(180deg);}
.info {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    background-color: #fff;
    color: #000;
    border-radius: 8px;
    margin-bottom: 10px;
}

.zoom-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 40px;
    right: 30px;
}
.plus, .minus, .select {
    background: rgba(255, 255, 255, 0.14);
    backdrop-filter: blur(2px);
    border-radius: 8px;
    cursor: pointer;
    transition: all .3s ease;
}
.plus:hover, .minus:hover, .select :hover {transform: scale(1.1);}
.plus {border-bottom: 1px solid #fff;}
.select {margin-top: 14px;}

.animation {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    z-index: 66;
    transition: all .5s ease;
}
.square-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 40px;
    height: 50px;
}
@keyframes animation-loading {
    0% {transform: rotate(0);}
    100% {transform: rotate(360deg);}
}
.square {
    position: relative;
    display: block;
    width: 49%;
    background-color: #000;
    margin-bottom: 1px;
    /* animation-name: animation-loading ; */
    transition: all 1.5s ease;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}
.square4 {background-color: #F49338;}

@media screen and (max-width : 1200px) {
    .nav-list {font-size: 12px;}
    .circle.t {top: -7px;}
    .circle.b {top: 0px;}
    .price {font-size: 20px;}
    .caption-area {font-size: 15px;}
    .description > .caption-area {font-size: 14px;}
    .description > .footer-area {font-size: 10px;}
    .description > .price-container > .price {font-size: 16px;}
    .to-hotel {
        top: 16px;
        height: 35px;
        width: 35px;
    }
}

@media screen and (max-width : 992px) {
    .left {width: 100% !important;}
    .right {display: none;}
    nav {padding: 9px 40px;}
    .list-icon > li {padding: 12px 0;}
    .active, .img-nav {width: 45px; height: 45px;}
    .vector {top: 16px;}

    .zoom-in > img {height: 400px;}
}

@media screen and (max-width : 768px) {
    body {font-size: 12px !important;}
    .toggle-icon {
        display: block;
        margin: 12px 0;
    }
    .icon-to-left {
        /* display: none; */
        position: fixed;
        top: 0;
        left: -100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
        z-index: 99;
        background-color: #191715;
        transition: all 0.5s ease;
    }
    .list-icon > li {
        position: relative;
        display: flex;
        justify-content: center;
        width: 100%;
        color: #fff;
    }
    .list-icon > li > .icon {
        color: #F49338;
        margin-top: 4px;
        margin-left: 10px;
    }
    .list-icon > li > span {display: inline; position: relative;}
    .line-list-icon {
        display: block;
        position: absolute;
        width: 0;
        height: 1px;
        background-color: #F49338;
        transition: all 0.5s ease;
    }
    .list-icon > li:hover > span > .line-list-icon{width: 100%;}
    .active > span > span {width: 50%;}
    .active:hover {
        background-color: #191715;
        border: 1px solid #191715;
        color: #fff !important;
    }
    .list-icon > li:hover > .dashboard {transform: rotate(180deg);}
    .list-icon > li:hover > .notification, .list-icon > li:hover > .heart-half {transform: scale(1.2);}
    @keyframes animaton-shopping {
        0% {transform: translateX(2px);}
        20% {transform: translateX(0px);}
        40% {transform: translateX(2px);}
        60% {transform: translateX(0px);}
        70% {transform: translateX(2px);}
        80% {transform: translateX(0px);}
        90% {transform: translateX(2px);}
        100% {transform: translateX(0px);}
    }
    .close-list-icon {display: block;}

    .circle.t {top: -6px;}
    .circle.b {top: 1px;}

    nav {background-color: inherit;padding: 9px 25px;}
    .nav-search, 
    .title > .ellipse,
    .nav-list > li > svg,
    .nav-list > li > iconify-icon, 
    .nav-list > li > div {display: none;}
    .nav-list > li {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80px;
        height: 30px;
        padding: 0;
        border: 1px solid #fff;
        transition: all .5s ease;
        background-color: #fff;
        color: #000;
    }
    .nav-list > li:hover {
        border: 1px solid #F49338;
        background-color: #fff;
        color: #000;
    }
    li.active-item {
        background-color: #F49338;
        color: #fff;
        border: 1px solid #F49338;
    }
    li.active-item:hover {
        background-color: #fff;
        color: #F49338;
    }
    .line.t {top: 0px;}
    .line.b {top: 5px;}
    .title > span {transform: translateY(60px) !important;}
    .title-input {left: 0 !important; top: 12px; width: 100%;}
    .search-title {margin-left: 13px; width: 14px; height: 14px;}

    .list-hotel > li {width: 100%; margin-bottom: 20px; height: 100px;}
    .description > .footer-area {margin: 10px 0 !important;}
    .to-hotel {top: 30px;}
    .area {height: 120px; padding-top: 53px; padding-left: 3px;} 
    .area > .price-container > .price {font-size: 15px;}
    .area > .price-container > .per_night {font-size: 10px;}
    .area > .caption-area {font-size: 12px;}
    .area > .footer-area > .star-area {width: 12px; height: 12px;}
    .area > .footer-area > .rate, .location {font-size: 10px}
    .zoom-in > img {height: 300px;}
}  
@media screen and (max-width : 576px) {
    .list-hotel > li {height: 80px;}
    .description > .footer-area {margin: 5px 0 !important;}
    .zoom-in > img {height: 200px;}
}
